---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: arp-announce
spec:
  chartRef:
    kind: OCIRepository
    name: arp-announce
  interval: 1h
  values:
    controllers:
      arp-announce:
        type: daemonset
        containers:
          app:
            image:
              repository: alpine
              tag: "3.23@sha256:865b95f46d98cf867a156fe4a135ad3fe50d2056aa3f25ed31662dff6da4eb62"
            command:
              - sh
              - -lc
            args:
              - |
                set -euo pipefail
                apk add --no-cache iputils >/dev/null
                exec arping -U -I enp1s0 -s 192.168.3.26 -i 1 192.168.3.26
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              runAsUser: 0
              runAsGroup: 0
              capabilities:
                add:
                  - NET_RAW
                drop:
                  - ALL
            resources:
              requests:
                cpu: 5m
                memory: 32Mi
    defaultPodOptions:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      nodeSelector:
        kubernetes.io/hostname: homeserver-main
      securityContext:
        runAsNonRoot: false
