---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: clawdbot-gateway
spec:
  interval: 1h
  path: ./kubernetes/apps/clawdbot/clawdbot-gateway/app
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: clawdbot
  wait: false
