---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: obsidian-livesync
spec:
  chartRef:
    kind: OCIRepository
    name: obsidian-livesync
  interval: 1h
  values:
    controllers:
      obsidian-livesync:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: Recreate
        containers:
          app:
            image:
              repository: couchdb
              tag: "3.5@sha256:3d5bc0a2ccb6556a6361cf8b4c7f215568fb0c0c2e5e8b44a747e1c138d99f7c"
            env:
              COUCHDB_USER:
                valueFrom:
                  secretKeyRef:
                    name: obsidian-livesync-admin-credentials
                    key: username
              COUCHDB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: obsidian-livesync-admin-credentials
                    key: password
              COUCHDB_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: obsidian-livesync-cookie-secret
                    key: secret
              TZ: Europe/Moscow
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /_up
                    port: &port 5984
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: obsidian-livesync
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "obsidian-livesync.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      data:
        enabled: true
        type: persistentVolumeClaim
        storageClass: openebs-hostpath
        accessMode: ReadWriteOnce
        size: 10Gi
        globalMounts:
          - path: /opt/couchdb/data
      etc-local-d:
        enabled: true
        type: persistentVolumeClaim
        storageClass: openebs-hostpath
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /opt/couchdb/etc/local.d
      config:
        enabled: true
        type: configMap
        name: obsidian-livesync-config
        globalMounts:
          - path: /opt/couchdb/etc/local.d/01-config.ini
            subPath: custom.ini
      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
