---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  chart:
    spec:
      chart: authentik
      version: 2025.12.4
      sourceRef:
        kind: HelmRepository
        name: authentik
  interval: 1h
  values:
    authentik:
      secret_key: file:///secrets/authentik/secret-key
      postgresql:
        user: authentik
        password: file:///secrets/postgres/user-password

    server:
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      volumes:
        - name: secret-key-creds
          secret:
            secretName: authentik-secret-key
        - name: postgres-creds
          secret:
            secretName: authentik-postgres-credentials
      volumeMounts:
        - name: secret-key-creds
          mountPath: /secrets/authentik
          readOnly: true
        - name: postgres-creds
          mountPath: /secrets/postgres
          readOnly: true

    worker:
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      volumes:
        - name: secret-key-creds
          secret:
            secretName: authentik-secret-key
        - name: postgres-creds
          secret:
            secretName: authentik-postgres-credentials
      volumeMounts:
        - name: secret-key-creds
          mountPath: /secrets/authentik
          readOnly: true
        - name: postgres-creds
          mountPath: /secrets/postgres
          readOnly: true

    postgresql:
      enabled: true
      auth:
        username: authentik
        database: authentik
        existingSecret: authentik-postgres-credentials
        secretKeys:
          adminPasswordKey: admin-password
          userPasswordKey: user-password
        usePasswordFiles: true
      primary:
        persistence:
          enabled: true
          size: 4Gi

    redis:
      enabled: true
      master:
        persistence:
          enabled: false
