---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: authentik
spec:
  hostnames:
    - "authentik.${SECRET_DOMAIN}"
  parentRefs:
    - name: envoy-external
      namespace: network
    - name: envoy-internal
      namespace: network
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
