---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: opengist
spec:
  chartRef:
    kind: OCIRepository
    name: opengist
  interval: 1h
  values:
    controllers:
      opengist:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: Recreate
        containers:
          app:
            image:
              repository: ghcr.io/thomiceli/opengist
              tag: "1.12@sha256:ac068eb38e433ddfbd49113db1a15e8cdecd0560c3b6893b4211f804df56e7a9"
            env:
              UID: "1001"
              GID: "1001"
              OG_LOG_LEVEL: warn
              OG_HTTP_PORT: &port 6157
              OG_EXTERNAL_URL: "https://gist.${SECRET_DOMAIN}"
              OG_OIDC_CLIENT_KEY:
                valueFrom:
                  secretKeyRef:
                    name: opengist-openid-secret
                    key: openid-client-id
              OG_OIDC_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: opengist-openid-secret
                    key: openid-client-secret
              OG_OIDC_PROVIDER_NAME: Authentik
              OG_OIDC_DISCOVERY_URL: "https://authentik.${SECRET_DOMAIN}/application/o/opengist/.well-known/openid-configuration"
              OG_OIDC_GROUP_CLAIM_NAME: groups
              OG_OIDC_ADMIN_GROUP: opengist_admin
              TZ: Europe/Moscow
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthcheck
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              readOnlyRootFilesystem: false
              capabilities:
                drop: ["ALL"]
                add: ["CHOWN", "SETUID", "SETGID"]
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: opengist
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "gist.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        storageClass: openebs-hostpath
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /opengist
      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
