---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  chart:
    spec:
      chart: grafana
      version: 10.5.8
      sourceRef:
        kind: HelmRepository
        name: grafana
  interval: 1h
  ## See available values https://github.com/grafana/helm-charts/blob/main/charts/grafana/values.yaml
  values:
    grafana.ini:
      analytics:
        reporting_enabled: false
        feedback_links_enabled: false
        check_for_updates: false
        check_for_plugin_updates: false
      server:
        root_url: "https://grafana.${SECRET_DOMAIN}"
      auth:
        disable_login_form: true
        disable_signout_menu: true
      ## Auth via Authentik
      ## See https://grafana.com/docs/grafana/latest/setup-grafana/configure-security/configure-authentication/generic-oauth/
      ## Make sure to pass client ID and client secret via env vars below
      ##
      auth.generic_oauth:
        enabled: true
        name: Authentik
        scopes: "openid profile email groups"
        auth_url: "https://authentik.${SECRET_DOMAIN}/application/o/authorize/"
        token_url: "https://authentik.${SECRET_DOMAIN}/application/o/token/"
        api_url: "https://authentik.${SECRET_DOMAIN}/application/o/userinfo/"
        login_attribute_path: preferred_username
        email_attribute_path: email
        role_attribute_path: contains(groups[*], 'grafana_admin') && 'Admin' || 'Viewer'
        allow_sign_up: true
        auto_login: true

    persistence:
      type: pvc
      enabled: true

    initChownData:
      enabled: true

    admin:
      existingSecret: grafana-admin-credentials
      userKey: username
      passwordKey: password

    service:
      enabled: true
      type: ClusterIP

    envValueFrom:
      GF_AUTH_GENERIC_OAUTH_CLIENT_ID:
        secretKeyRef:
          name: grafana-authentik-oauth-client-secret
          key: client-id
      GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET:
        secretKeyRef:
          name: grafana-authentik-oauth-client-secret
          key: client-secret

    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Loki
            type: loki
            access: proxy
            orgId: 1
            url: "http://loki-gateway:80"
            basicAuth: false
            isDefault: true
            editable: false
            version: 1
