---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: glance
spec:
  chartRef:
    kind: OCIRepository
    name: glance
  interval: 1h
  values:
    controllers:
      glance:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: glanceapp/glance
              tag: v0.8.4
            args:
              - "--config"
              - "/app/config/glance.yml"
            env:
              TZ: Europe/Moscow
              SECRET_DOMAIN:
                valueFrom:
                  secretKeyRef:
                    name: cluster-secrets
                    key: SECRET_DOMAIN
              QBITTORRENT_IP: qbittorrent.default.svc.cluster.local:8080
              JELLYFIN_URL: http://jellyfin.default.svc.cluster.local:8096
              RADARR_API_URL: http://radarr.default.svc.cluster.local:7878
              RADARR_URL: "https://radarr.${SECRET_DOMAIN}"
              SONARR_API_URL: http://sonarr.default.svc.cluster.local:8989
              SONARR_URL: "https://sonarr.${SECRET_DOMAIN}"
              LIDARR_API_URL: http://lidarr.default.svc.cluster.local:8686
              LIDARR_URL: "https://lidarr.${SECRET_DOMAIN}"
              SPEEDTEST_URL: "https://speedtest.${SECRET_DOMAIN}"
              SPEEDTEST_API_URL: "http://myspeed.default.svc.cluster.local:5216"
            envFrom:
              - secret: glance-secrets
            ports:
              - name: http
                containerPort: &port 8080
                protocol: TCP
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 25m
                memory: 128Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: glance
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        enabled: true
        type: configMap
        name: glance-config
        defaultMode: 0644
        globalMounts:
          - path: /app/config
      config-pages:
        enabled: true
        type: configMap
        name: glance-pages-config
        defaultMode: 0644
        globalMounts:
          - path: /app/config/pages
      config-widgets:
        enabled: true
        type: configMap
        name: glance-widgets-config
        defaultMode: 0644
        globalMounts:
          - path: /app/config/widgets
      media:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: media-data
        globalMounts:
          - path: /data
            readOnly: true
      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
