---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./loki/ks.yaml
  - ./grafana/ks.yaml
  - ./k8s-monitoring/ks.yaml
