---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-dns
spec:
  chartRef:
    kind: OCIRepository
    name: tailscale-dns
  interval: 1h
  values:
    fullnameOverride: tailscale-dns
    image:
      repository: mirror.gcr.io/coredns/coredns
    replicaCount: 1
    service:
      annotations:
        tailscale.com/expose: "true"
        tailscale.com/hostname: tailscale-dns
    servers:
      - zones:
          - zone: .
        port: 53
        plugins:
          - name: errors
          - name: log
          - name: template
            parameters: IN A ${SECRET_DOMAIN}
            configBlock: |-
              match "^(.+[.])?${SECRET_DOMAIN}[.]$"
              answer "{{ .Name }} 60 IN A 100.90.39.87"
              fallthrough
          - name: forward
            parameters: . /etc/resolv.conf
          - name: cache
            parameters: 30
    resources:
      requests:
        cpu: 10m
        memory: 16Mi
      limits:
        memory: 64Mi
