---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: jellyfin-rules
spec:
  groups:
    - name: jellyfin.rules
      rules:
        - alert: JellyfinCollectorFailed
          expr: jellyfin_scrape_collector_success{job="jellyfin-exporter"} == 0
          for: 30m
          labels:
            severity: warning
            component: media-management
            app: jellyfin
          annotations:
            summary: >-
              Jellyfin exporter collector failure
            description: >-
              Jellyfin exporter reports a collector failure.

        - alert: JellyfinExporterErrors
          expr: increase(promhttp_metric_handler_errors_total{job="jellyfin-exporter"}[15m]) > 0
          for: 30m
          labels:
            severity: warning
            component: media-management
            app: jellyfin
          annotations:
            summary: >-
              Jellyfin exporter handler errors
            description: >-
              Jellyfin exporter has handler errors in the last 15 minutes.
