---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./media-data-pvc.yaml
  - ./echo/ks.yaml
  - ./radarr/ks.yaml

