---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: speedtest-tracker
spec:
  chartRef:
    kind: OCIRepository
    name: speedtest-tracker
  interval: 1h
  values:
    controllers:
      speedtest-tracker:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: Recreate
        containers:
          app:
            image:
              repository: lscr.io/linuxserver/speedtest-tracker
              tag: latest
            env:
              PUID: 1001
              PGID: 1001
              APP_DEBUG: "true"
              TZ: &tz Europe/Moscow
              DISPLAY_TIMEZONE: *tz
              APP_TIMEZONE: *tz
              APP_URL: "https://speedtest.${SECRET_DOMAIN}"
              PUBLIC_DASHBOARD: "true"
              DB_CONNECTION: sqlite
              SPEEDTEST_SCHEDULE: "0 * * * *"
              APP_KEY:
                valueFrom:
                  secretKeyRef:
                    name: speedtest-tracker
                    key: APP_KEY
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
                add:
                  - CHOWN
                  - SETUID
                  - SETGID
                  - NET_BIND_SERVICE
                  - DAC_OVERRIDE
                  - FOWNER
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: speedtest-tracker
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "speedtest.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        storageClass: openebs-hostpath
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /config
      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
