---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: smartctl-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: smartctl-exporter
  interval: 1h
  values:
    serviceMonitor:
      enabled: true
    prometheusRules:
      enabled: true
      rules:
        smartCTLDDeviceTemperature:
          enabled: false
