---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: adguard-home
spec:
  interval: 1h
  path: ./kubernetes/apps/network/adguard-home/app
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
      - name: network-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: network
  wait: false
