---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: metrics-exporters-storage-rules
spec:
  groups:
    - name: metrics-exporters.storage.rules
      rules:
        - alert: MediaDiskSpaceLowWarning
          expr: >-
            bottomk(
              1,
              (
                radarr_rootfolder_freespace_bytes{job="metrics-exporters-radarr-exporter"}
                or sonarr_rootfolder_freespace_bytes{job="metrics-exporters-sonarr-exporter"}
                or lidarr_rootfolder_freespace_bytes{job="metrics-exporters-lidarr-exporter"}
                or label_replace(qbittorrent_global_free_space_on_disk_bytes{job="metrics-exporters-qbittorrent-exporter"}, "path", "qbittorrent", "job", ".*")
              )
            ) < (100 * 1024 * 1024 * 1024)
          for: 30m
          labels:
            severity: warning
            component: media-management
            app: storage
          annotations:
            summary: >-
              Low disk space on media storage
            description: >-
              {{ $labels.job }} {{ if $labels.path }}(path {{ $labels.path }}){{ end }} has only {{ $value | humanize1024 }} free (threshold 100GiB).

        - alert: MediaDiskSpaceLowCritical
          expr: >-
            bottomk(
              1,
              (
                radarr_rootfolder_freespace_bytes{job="metrics-exporters-radarr-exporter"}
                or sonarr_rootfolder_freespace_bytes{job="metrics-exporters-sonarr-exporter"}
                or lidarr_rootfolder_freespace_bytes{job="metrics-exporters-lidarr-exporter"}
                or label_replace(qbittorrent_global_free_space_on_disk_bytes{job="metrics-exporters-qbittorrent-exporter"}, "path", "qbittorrent", "job", ".*")
              )
            ) < (20 * 1024 * 1024 * 1024)
          for: 15m
          labels:
            severity: critical
            component: media-management
            app: storage
          annotations:
            summary: >-
              Critically low disk space on media storage
            description: >-
              {{ $labels.job }} {{ if $labels.path }}(path {{ $labels.path }}){{ end }} has only {{ $value | humanize1024 }} free (threshold 20GiB).
