---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbit-manage
spec:
  chartRef:
    kind: OCIRepository
    name: qbit-manage
  interval: 1h
  values:
    controllers:
      qbit-manage:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"
        cronjob:
          schedule: "*/10 * * * *"
          timeZone: Europe/Moscow
          concurrencyPolicy: Replace
          successfulJobsHistory: 3
          failedJobsHistory: 1
        pod:
          restartPolicy: OnFailure
        containers:
          app:
            image:
              repository: ghcr.io/stuffanthings/qbit_manage
              tag: v4.6.5@sha256:4f36632a138b4e5aeab3b765b7f389087bfb140c80dbbec1343eca74dc351245
            command: ["python3", "qbit_manage.py"]
            args: ["--run", "--config-file", "/config/config.yml"]
            env:
              QBT_LOG_LEVEL: INFO
              TZ: Europe/Moscow
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        storageClass: openebs-hostpath
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /config
      config-file:
        enabled: true
        type: configMap
        name: qbit-manage-config
        globalMounts:
          - path: /config/config.yml
            subPath: config.yml
            readOnly: true
      qbittorrent-data:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: media-data
        globalMounts:
          - path: /data/torrents
            subPath: torrents
      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
