---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: backrest
spec:
  chartRef:
    kind: OCIRepository
    name: backrest
  interval: 1h
  values:
    controllers:
      backrest:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: Recreate
        containers:
          app:
            image:
              repository: garethgeorge/backrest
              tag: v1.12@sha256:448fee1cb4cdf3f7d7078078480d38713673924ad415bfdf84bf9e49ff570201
            env:
              BACKREST_DATA: /data
              BACKREST_CONFIG: /config/config.json
              XDG_CACHE_HOME: /cache
              RESTIC_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: backrest-secret
                    key: RESTIC_PASSWORD
              AWS_ACCESS_KEY_ID:
                valueFrom:
                  secretKeyRef:
                    name: backrest-secret
                    key: AWS_ACCESS_KEY_ID
              AWS_SECRET_ACCESS_KEY:
                valueFrom:
                  secretKeyRef:
                    name: backrest-secret
                    key: AWS_SECRET_ACCESS_KEY
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 9898
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: backrest
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "backrest.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /config
      data:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /data
      cache:
        enabled: true
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 1Gi
        globalMounts:
          - path: /cache
      radarr:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: radarr
      sonarr:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: sonarr
      sabnzbd:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: sabnzbd
      jellyfin-xxx-config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: jellyfin-xxx-config
      jellyfin-config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: jellyfin-config
      prowlarr:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: prowlarr
      qbittorrent:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: qbittorrent
      stash-config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: stash-config
      stash-metadata:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: stash-metadata
      stash-blobs:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: stash-blobs
      lidarr:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: lidarr
      bazarr:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: bazarr
