---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: not-used
spec:
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Deployment
            patch: |
              apiVersion: apps/v1
              kind: Deployment
              metadata:
                name: placeholder
              spec:
                template:
                  spec:
                    containers:
                      - name: app
                        env:
                          - name: HTTP_PROXY
                            value: "${SECRET_HTTP_PROXY_URL}"
                          - name: http_proxy
                            value: "${SECRET_HTTP_PROXY_URL}"
                          - name: HTTPS_PROXY
                            value: "${SECRET_HTTP_PROXY_URL}"
                          - name: https_proxy
                            value: "${SECRET_HTTP_PROXY_URL}"
                          - name: NO_PROXY
                            value: "localhost,127.0.0.1,10.0.0.0/8,192.168.0.0/16,.cluster.local,.svc"
                          - name: no_proxy
                            value: "localhost,127.0.0.1,10.0.0.0/8,192.168.0.0/16,.cluster.local,.svc"
