---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prowlarr-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: prowlarr
  interval: 1h
  values:
    controllers:
      prowlarr-exporter:
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/exportarr
              tag: v2.3.0
            args:
              - prowlarr
            env:
              PORT: "9707"
              URL: "http://prowlarr.default.svc.cluster.local:9696"
              APIKEY:
                valueFrom:
                  secretKeyRef:
                    name: prowlarr-exporter-secret
                    key: PROWLARR_API_KEY
            probes: &exportarrProbes
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: &exportarrPort 9707
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: *exportarrPort
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
            resources: &exportarrResources
              requests:
                cpu: 10m
                memory: 64Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch

    service:
      metrics:
        controller: prowlarr-exporter
        ports:
          metrics:
            port: 9707

    serviceMonitor:
      metrics:
        enabled: true
        service:
          identifier: metrics
        endpoints:
          - port: metrics
            path: /metrics
            interval: 2m
            scrapeTimeout: 30s
