---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin-xxx
spec:
  chartRef:
    kind: OCIRepository
    name: jellyfin-xxx
  interval: 1h
  values:
    controllers:
      jellyfin:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10@sha256:cd7e4cb71812dd76988a725da615e37c6d0d24c200be904ad5d183e51f1dc6ed
            env:
              JELLYFIN_DATA_DIR: /config
              JELLYFIN_CONFIG_DIR: /config/.jellyfin
              JELLYFIN_LOG_DIR: /config/log
              JELLYFIN_CACHE_DIR: /cache
              JELLYFIN_PublishedServerUrl: https://jellyfin-xxx.${SECRET_DOMAIN}
              TZ: Europe/Moscow
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8096
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
                memory: 512Mi
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: jellyfin-xxx
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: jellyfin
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "jellyfin-xxx.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        storageClass: openebs-hostpath
        accessMode: ReadWriteOnce
        size: 2Gi
        globalMounts:
          - path: /config
      cache:
        enabled: true
        type: persistentVolumeClaim
        storageClass: openebs-hostpath
        accessMode: ReadWriteOnce
        size: 25Gi
        globalMounts:
          - path: /cache
      media:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: media-data
        globalMounts:
          - path: /library
            subPath: xxx
      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
